In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("shapes.csv")

In [ ]:
df.head()

  shape_id      lat        lon  seq
0  P001001  3.10378  101.64532    1
1  P001001  3.10377  101.64534    2
2  P001001  3.10377  101.64535    3
3  P001001  3.10376  101.64537    4
4  P001001  3.10375  101.64537    5

: